<div id='stats' ng-controller="StatsController">
  <h2>Daily Vitastats</h2>

    <d3-bars data="user.vitamins"></d3-bars>

    <button ng-click="resetStats()">Reset foods for the day</button>

 <!--    <div id="daysFoods" ng-model="user.foods" ng-repeat="food in user.foods">
      <p class='foodname'>{{ food }} </p>
    </div> -->
</div>

<div id='food' ng-controller="FoodsController">

  <h2>Food choices</h2>
  <input type="text" ng-model="searchString" placeholder="Start typing the name of a food or restaurant.">

    <div class="info" ng-repeat="food in data.foods | searchFor:searchString | orderBy:predicate" ng-click="toggleFoods(food)" >
      <p class='name'>{{ food.name }}</p>
      <p class='description'>{{ food.description }}</p>
    </div>
      <a href="#/stats"> Check out your stats for the day <strong>Stats</strong> ...</a>
</div>



<!-- <div id='restaurants' ng-controller='RestaurantsController'>
  <h2> Restaurants </h2>
</div> -->
